*{
    margin: 0;
   
}

#b{
    width: 300px;
    height: 100%;
    margin: auto;
    display: block;
    border: 6px solid white;
    margin-top: 12px;

}
#d{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
body{
    background-color:gray;
    background-image: url(imagens/casino_2.jpg);
    
} 
a{text-decoration: none;
color: cornflowerblue;
font-size: 20px;
}
